<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-document-category-heading"
        data-cy="DocumentCategoryCreateUpdateHeading"
        jhiTranslate="studentBankJhipsterApp.documentCategory.home.createOrEditLabel"
      >
        Create or edit a Document Category
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="studentBankJhipsterApp.documentCategory.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="studentBankJhipsterApp.documentCategory.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentCategory" jhiTranslate="studentBankJhipsterApp.documentCategory.documentCategory"
            >Document Category</label
          >
          <select
            class="form-control"
            id="field_documentCategory"
            data-cy="documentCategory"
            name="documentCategory"
            formControlName="documentCategory"
            [compareWith]="compareDocumentCategory"
          >
            <option [ngValue]="null"></option>
            @for (documentCategoryOption of documentCategoriesSharedCollection; track $index) {
              <option [ngValue]="documentCategoryOption">{{ documentCategoryOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
