<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-document-heading"
        data-cy="DocumentCreateUpdateHeading"
        jhiTranslate="studentBankJhipsterApp.document.home.createOrEditLabel"
      >
        Create or edit a Document
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="studentBankJhipsterApp.document.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="studentBankJhipsterApp.document.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentExtension" jhiTranslate="studentBankJhipsterApp.document.documentExtension"
            >Document Extension</label
          >
          <input
            type="text"
            class="form-control"
            name="documentExtension"
            id="field_documentExtension"
            data-cy="documentExtension"
            formControlName="documentExtension"
          />
          @if (
            editForm.get('documentExtension')!.invalid &&
            (editForm.get('documentExtension')!.dirty || editForm.get('documentExtension')!.touched)
          ) {
            <div>
              @if (editForm.get('documentExtension')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentData" jhiTranslate="studentBankJhipsterApp.document.documentData"
            >Document Data</label
          >
          <div>
            @if (editForm.get('documentData')!.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(editForm.get('documentData')!.value!, editForm.get('documentDataContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Open</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('documentDataContentType')!.value }}, {{ byteSize(editForm.get('documentData')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ documentData: undefined, documentDataContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_documentData"
              data-cy="documentData"
              (change)="setFileData($event, 'documentData', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="documentData"
            id="field_documentData"
            data-cy="documentData"
            formControlName="documentData"
          />
          <input
            type="hidden"
            class="form-control"
            name="documentDataContentType"
            id="field_documentDataContentType"
            formControlName="documentDataContentType"
          />
          @if (editForm.get('documentData')!.invalid && (editForm.get('documentData')!.dirty || editForm.get('documentData')!.touched)) {
            <div>
              @if (editForm.get('documentData')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentType" jhiTranslate="studentBankJhipsterApp.document.documentType"
            >Document Type</label
          >
          <select class="form-control" name="documentType" formControlName="documentType" id="field_documentType" data-cy="documentType">
            <option [ngValue]="null">{{ 'studentBankJhipsterApp.DocumentType.null' | translate }}</option>
            @for (documentType of documentTypeValues; track $index) {
              <option [value]="documentType">{{ 'studentBankJhipsterApp.DocumentType.' + documentType | translate }}</option>
            }
          </select>
          @if (editForm.get('documentType')!.invalid && (editForm.get('documentType')!.dirty || editForm.get('documentType')!.touched)) {
            <div>
              @if (editForm.get('documentType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isOrinalDocument" jhiTranslate="studentBankJhipsterApp.document.isOrinalDocument"
            >Is Orinal Document</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isOrinalDocument"
            id="field_isOrinalDocument"
            data-cy="isOrinalDocument"
            formControlName="isOrinalDocument"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentCompression" jhiTranslate="studentBankJhipsterApp.document.documentCompression"
            >Document Compression</label
          >
          <input
            type="text"
            class="form-control"
            name="documentCompression"
            id="field_documentCompression"
            data-cy="documentCompression"
            formControlName="documentCompression"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentCategory" jhiTranslate="studentBankJhipsterApp.document.documentCategory"
            >Document Category</label
          >
          <select
            class="form-control"
            id="field_documentCategory"
            data-cy="documentCategory"
            name="documentCategory"
            formControlName="documentCategory"
            [compareWith]="compareDocumentCategory"
          >
            <option [ngValue]="null"></option>
            @for (documentCategoryOption of documentCategoriesSharedCollection; track $index) {
              <option [ngValue]="documentCategoryOption">{{ documentCategoryOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_application" jhiTranslate="studentBankJhipsterApp.document.application">Application</label>
          <select
            class="form-control"
            id="field_application"
            data-cy="application"
            name="application"
            formControlName="application"
            [compareWith]="compareApplication"
          >
            <option [ngValue]="null"></option>
            @for (applicationOption of applicationsSharedCollection; track $index) {
              <option [ngValue]="applicationOption">{{ applicationOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customer" jhiTranslate="studentBankJhipsterApp.document.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            @for (customerOption of customersSharedCollection; track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
