<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-office-heading" data-cy="OfficeCreateUpdateHeading" jhiTranslate="studentBankJhipsterApp.office.home.createOrEditLabel">
        Create or edit a Office
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="studentBankJhipsterApp.office.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="studentBankJhipsterApp.office.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isMain" jhiTranslate="studentBankJhipsterApp.office.isMain">Is Main</label>
          <input type="checkbox" class="form-check" name="isMain" id="field_isMain" data-cy="isMain" formControlName="isMain" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_openningTime" jhiTranslate="studentBankJhipsterApp.office.openningTime">Openning Time</label>
          <input
            type="text"
            class="form-control"
            name="openningTime"
            id="field_openningTime"
            data-cy="openningTime"
            formControlName="openningTime"
          />
          @if (editForm.get('openningTime')!.invalid && (editForm.get('openningTime')!.dirty || editForm.get('openningTime')!.touched)) {
            <div>
              @if (editForm.get('openningTime')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_closingTime" jhiTranslate="studentBankJhipsterApp.office.closingTime">Closing Time</label>
          <input
            type="text"
            class="form-control"
            name="closingTime"
            id="field_closingTime"
            data-cy="closingTime"
            formControlName="closingTime"
          />
          @if (editForm.get('closingTime')!.invalid && (editForm.get('closingTime')!.dirty || editForm.get('closingTime')!.touched)) {
            <div>
              @if (editForm.get('closingTime')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_address" jhiTranslate="studentBankJhipsterApp.office.address">Address</label>
          <select
            class="form-control"
            id="field_address"
            data-cy="address"
            name="address"
            formControlName="address"
            [compareWith]="compareAddress"
          >
            <option [ngValue]="null"></option>
            @for (addressOption of addressesSharedCollection; track $index) {
              <option [ngValue]="addressOption">{{ addressOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_bankDetails" jhiTranslate="studentBankJhipsterApp.office.bankDetails">Bank Details</label>
          <select
            class="form-control"
            id="field_bankDetails"
            data-cy="bankDetails"
            name="bankDetails"
            formControlName="bankDetails"
            [compareWith]="compareBankDetails"
          >
            <option [ngValue]="null"></option>
            @for (bankDetailsOption of bankDetailsSharedCollection; track $index) {
              <option [ngValue]="bankDetailsOption">{{ bankDetailsOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
