<div>
  <h2 id="page-heading" data-cy="ExchangeHeading">
    <span jhiTranslate="studentBankJhipsterApp.exchange.home.title">Exchanges</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.exchange.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exchange"
        [routerLink]="['/exchange/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.exchange.home.createLabel">Create a new Exchange</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (exchanges?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="studentBankJhipsterApp.exchange.home.notFound">No Exchanges found</span>
    </div>
  }

  @if (exchanges && exchanges.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.exchange.amount">Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currencyIn">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.exchange.currencyIn">Currency In</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currencyOut">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.exchange.currencyOut">Currency Out</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="exchangeRate">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.exchange.exchangeRate">Exchange Rate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employee.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.exchange.employee">Employee</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="office.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.exchange.office">Office</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="document.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.exchange.document">Document</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (exchange of exchanges; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/exchange', exchange.id, 'view']">{{ exchange.id }}</a>
              </td>
              <td>{{ exchange.amount }}</td>
              <td [jhiTranslate]="'studentBankJhipsterApp.Currency.' + (exchange.currencyIn ?? 'null')">
                {{ { null: '', BGN: 'BGN', EUR: 'EUR', USD: 'USD' }[exchange.currencyIn ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'studentBankJhipsterApp.Currency.' + (exchange.currencyOut ?? 'null')">
                {{ { null: '', BGN: 'BGN', EUR: 'EUR', USD: 'USD' }[exchange.currencyOut ?? 'null'] }}
              </td>
              <td>{{ exchange.exchangeRate }}</td>
              <td>
                @if (exchange.employee) {
                  <div>
                    <a [routerLink]="['/employee', exchange.employee.id, 'view']">{{ exchange.employee.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (exchange.office) {
                  <div>
                    <a [routerLink]="['/office', exchange.office.id, 'view']">{{ exchange.office.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (exchange.document) {
                  <div>
                    <a [routerLink]="['/document', exchange.document.id, 'view']">{{ exchange.document.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/exchange', exchange.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/exchange', exchange.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(exchange)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (exchanges && exchanges.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
