<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (contactDetails()) {
      <div>
        <h2 data-cy="contactDetailsDetailsHeading">
          <span jhiTranslate="studentBankJhipsterApp.contactDetails.detail.title">Contact Details</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ contactDetails()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.contactDetails.countryCode">Country Code</span></dt>
          <dd>
            <span>{{ contactDetails()!.countryCode }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.contactDetails.phoneNumber">Phone Number</span></dt>
          <dd>
            <span>{{ contactDetails()!.phoneNumber }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.contactDetails.email">Email</span></dt>
          <dd>
            <span>{{ contactDetails()!.email }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.contactDetails.firstName">First Name</span></dt>
          <dd>
            <span>{{ contactDetails()!.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.contactDetails.lastName">Last Name</span></dt>
          <dd>
            <span>{{ contactDetails()!.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.contactDetails.middleName">Middle Name</span></dt>
          <dd>
            <span>{{ contactDetails()!.middleName }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.contactDetails.name">Name</span></dt>
          <dd>
            <span>{{ contactDetails()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.contactDetails.office">Office</span></dt>
          <dd>
            @if (contactDetails()!.office) {
              <div>
                <a [routerLink]="['/office', contactDetails()!.office?.id, 'view']">{{ contactDetails()!.office?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/contact-details', contactDetails()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
