<div>
  <h2 id="page-heading" data-cy="EmployeesAssetsHeading">
    <span jhiTranslate="studentBankJhipsterApp.employeesAssets.home.title">Employees Assets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.employeesAssets.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employees-assets"
        [routerLink]="['/employees-assets/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.employeesAssets.home.createLabel">Create a new Employees Assets</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (employeesAssets?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="studentBankJhipsterApp.employeesAssets.home.notFound">No Employees Assets found</span>
    </div>
  }

  @if (employeesAssets && employeesAssets.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.employeesAssets.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="assignedBy.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.employeesAssets.assignedBy">Assigned By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="recieversProtocol.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.employeesAssets.recieversProtocol">Recievers Protocol</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employee.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.employeesAssets.employee">Employee</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (employeesAssets of employeesAssets; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/employees-assets', employeesAssets.id, 'view']">{{ employeesAssets.id }}</a>
              </td>
              <td>{{ employeesAssets.name }}</td>
              <td>
                @if (employeesAssets.assignedBy) {
                  <div>
                    <a [routerLink]="['/employee', employeesAssets.assignedBy.id, 'view']">{{ employeesAssets.assignedBy.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (employeesAssets.recieversProtocol) {
                  <div>
                    <a [routerLink]="['/document', employeesAssets.recieversProtocol.id, 'view']">{{
                      employeesAssets.recieversProtocol.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (employeesAssets.employee) {
                  <div>
                    <a [routerLink]="['/employee', employeesAssets.employee.id, 'view']">{{ employeesAssets.employee.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/employees-assets', employeesAssets.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/employees-assets', employeesAssets.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(employeesAssets)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (employeesAssets && employeesAssets.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
