<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (jobPosition()) {
      <div>
        <h2 data-cy="jobPositionDetailsHeading">
          <span jhiTranslate="studentBankJhipsterApp.jobPosition.detail.title">Job Position</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ jobPosition()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.jobPosition.name">Name</span></dt>
          <dd>
            <span>{{ jobPosition()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.jobPosition.company">Company</span></dt>
          <dd>
            <span>{{ jobPosition()!.company }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/job-position', jobPosition()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
