<div>
  <h2 id="page-heading" data-cy="PaymentAccountHeading">
    <span jhiTranslate="studentBankJhipsterApp.paymentAccount.home.title">Payment Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.paymentAccount.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment-account"
        [routerLink]="['/payment-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.paymentAccount.home.createLabel">Create a new Payment Account</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (paymentAccounts?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="studentBankJhipsterApp.paymentAccount.home.notFound">No Payment Accounts found</span>
    </div>
  }

  @if (paymentAccounts && paymentAccounts.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paymentAccountType">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.paymentAccount.paymentAccountType">Payment Account Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="iban">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.paymentAccount.iban">Iban</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.paymentAccount.amount">Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currency">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.paymentAccount.currency">Currency</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.paymentAccount.active">Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deleted">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.paymentAccount.deleted">Deleted</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contract.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.paymentAccount.contract">Contract</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customer.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.paymentAccount.customer">Customer</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (paymentAccount of paymentAccounts; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/payment-account', paymentAccount.id, 'view']">{{ paymentAccount.id }}</a>
              </td>
              <td [jhiTranslate]="'studentBankJhipsterApp.PaymentAccountType.' + (paymentAccount.paymentAccountType ?? 'null')">
                {{
                  {
                    null: '',
                    SAVING_ACCOUNT: 'SAVING_ACCOUNT',
                    CREDIT_ACCOUNT: 'CREDIT_ACCOUNT',
                    OVERDRAFT: 'OVERDRAFT',
                    DEPOSIT: 'DEPOSIT',
                  }[paymentAccount.paymentAccountType ?? 'null']
                }}
              </td>
              <td>{{ paymentAccount.iban }}</td>
              <td>{{ paymentAccount.amount }}</td>
              <td [jhiTranslate]="'studentBankJhipsterApp.Currency.' + (paymentAccount.currency ?? 'null')">
                {{ { null: '', BGN: 'BGN', EUR: 'EUR', USD: 'USD' }[paymentAccount.currency ?? 'null'] }}
              </td>
              <td>{{ paymentAccount.active }}</td>
              <td>{{ paymentAccount.deleted }}</td>
              <td>
                @if (paymentAccount.contract) {
                  <div>
                    <a [routerLink]="['/document', paymentAccount.contract.id, 'view']">{{ paymentAccount.contract.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (paymentAccount.customer) {
                  <div>
                    <a [routerLink]="['/customer', paymentAccount.customer.id, 'view']">{{ paymentAccount.customer.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/payment-account', paymentAccount.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/payment-account', paymentAccount.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(paymentAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (paymentAccounts && paymentAccounts.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
