<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (employee()) {
      <div>
        <h2 data-cy="employeeDetailsHeading"><span jhiTranslate="studentBankJhipsterApp.employee.detail.title">Employee</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ employee()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.employee.isOnHoliday">Is On Holiday</span></dt>
          <dd>
            <span>{{ employee()!.isOnHoliday }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.employee.contactDetails">Contact Details</span></dt>
          <dd>
            @if (employee()!.contactDetails) {
              <div>
                <a [routerLink]="['/contact-details', employee()!.contactDetails?.id, 'view']">{{ employee()!.contactDetails?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.employee.jobPosition">Job Position</span></dt>
          <dd>
            @if (employee()!.jobPosition) {
              <div>
                <a [routerLink]="['/job-position', employee()!.jobPosition?.id, 'view']">{{ employee()!.jobPosition?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.employee.employeeContract">Employee Contract</span></dt>
          <dd>
            @if (employee()!.employeeContract) {
              <div>
                <a [routerLink]="['/document', employee()!.employeeContract?.id, 'view']">{{ employee()!.employeeContract?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.employee.manager">Manager</span></dt>
          <dd>
            @if (employee()!.manager) {
              <div>
                <a [routerLink]="['/employee', employee()!.manager?.id, 'view']">{{ employee()!.manager?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.employee.atm">Atm</span></dt>
          <dd>
            @if (employee()!.atm) {
              <div>
                <a [routerLink]="['/atm', employee()!.atm?.id, 'view']">{{ employee()!.atm?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.employee.office">Office</span></dt>
          <dd>
            @if (employee()!.office) {
              <div>
                <a [routerLink]="['/office', employee()!.office?.id, 'view']">{{ employee()!.office?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/employee', employee()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
