<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (bankDetails()) {
      <div>
        <h2 data-cy="bankDetailsDetailsHeading">
          <span jhiTranslate="studentBankJhipsterApp.bankDetails.detail.title">Bank Details</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ bankDetails()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.bankDetails.name">Name</span></dt>
          <dd>
            <span>{{ bankDetails()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.bankDetails.foundationYear">Foundation Year</span></dt>
          <dd>
            <span>{{ bankDetails()!.foundationYear | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.bankDetails.ceo">Ceo</span></dt>
          <dd>
            <span>{{ bankDetails()!.ceo }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.bankDetails.mainWebsite">Main Website</span></dt>
          <dd>
            <span>{{ bankDetails()!.mainWebsite }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/bank-details', bankDetails()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
