<div>
  <h2 id="page-heading" data-cy="CardDetailsHeading">
    <span jhiTranslate="studentBankJhipsterApp.cardDetails.home.title">Card Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.cardDetails.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-card-details"
        [routerLink]="['/card-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.cardDetails.home.createLabel">Create a new Card Details</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (cardDetails?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="studentBankJhipsterApp.cardDetails.home.notFound">No Card Details found</span>
    </div>
  }

  @if (cardDetails && cardDetails.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cardNumber">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.cardDetails.cardNumber">Card Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cardType">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.cardDetails.cardType">Card Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cardProvider">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.cardDetails.cardProvider">Card Provider</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="issueDate">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.cardDetails.issueDate">Issue Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expiryDate">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.cardDetails.expiryDate">Expiry Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cvv">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.cardDetails.cvv">Cvv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isActive">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.cardDetails.isActive">Is Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isBlocked">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.cardDetails.isBlocked">Is Blocked</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pin">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.cardDetails.pin">Pin</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customer.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.cardDetails.customer">Customer</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paymentAccount.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.cardDetails.paymentAccount">Payment Account</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (cardDetails of cardDetails; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/card-details', cardDetails.id, 'view']">{{ cardDetails.id }}</a>
              </td>
              <td>{{ cardDetails.cardNumber }}</td>
              <td [jhiTranslate]="'studentBankJhipsterApp.CardType.' + (cardDetails.cardType ?? 'null')">
                {{ { null: '', CREDIT: 'CREDIT', DEBIT: 'DEBIT' }[cardDetails.cardType ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'studentBankJhipsterApp.CardProvider.' + (cardDetails.cardProvider ?? 'null')">
                {{
                  { null: '', MASTERCARD: 'MASTERCARD', VISA: 'VISA', MAESTRO: 'MAESTRO', AMERICAN_EXPRESS: 'AMERICAN_EXPRESS' }[
                    cardDetails.cardProvider ?? 'null'
                  ]
                }}
              </td>
              <td>{{ cardDetails.issueDate | formatMediumDatetime }}</td>
              <td>{{ cardDetails.expiryDate | formatMediumDatetime }}</td>
              <td>{{ cardDetails.cvv }}</td>
              <td>{{ cardDetails.isActive }}</td>
              <td>{{ cardDetails.isBlocked }}</td>
              <td>{{ cardDetails.pin }}</td>
              <td>
                @if (cardDetails.customer) {
                  <div>
                    <a [routerLink]="['/customer', cardDetails.customer.id, 'view']">{{ cardDetails.customer.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (cardDetails.paymentAccount) {
                  <div>
                    <a [routerLink]="['/payment-account', cardDetails.paymentAccount.id, 'view']">{{ cardDetails.paymentAccount.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/card-details', cardDetails.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/card-details', cardDetails.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(cardDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (cardDetails && cardDetails.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
