<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (exchange()) {
      <div>
        <h2 data-cy="exchangeDetailsHeading"><span jhiTranslate="studentBankJhipsterApp.exchange.detail.title">Exchange</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ exchange()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.exchange.amount">Amount</span></dt>
          <dd>
            <span>{{ exchange()!.amount }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.exchange.currencyIn">Currency In</span></dt>
          <dd>
            <span [jhiTranslate]="'studentBankJhipsterApp.Currency.' + (exchange()!.currencyIn ?? 'null')">{{
              { null: '', BGN: 'BGN', EUR: 'EUR', USD: 'USD' }[exchange()!.currencyIn ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.exchange.currencyOut">Currency Out</span></dt>
          <dd>
            <span [jhiTranslate]="'studentBankJhipsterApp.Currency.' + (exchange()!.currencyOut ?? 'null')">{{
              { null: '', BGN: 'BGN', EUR: 'EUR', USD: 'USD' }[exchange()!.currencyOut ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.exchange.exchangeRate">Exchange Rate</span></dt>
          <dd>
            <span>{{ exchange()!.exchangeRate }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.exchange.employee">Employee</span></dt>
          <dd>
            @if (exchange()!.employee) {
              <div>
                <a [routerLink]="['/employee', exchange()!.employee?.id, 'view']">{{ exchange()!.employee?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.exchange.office">Office</span></dt>
          <dd>
            @if (exchange()!.office) {
              <div>
                <a [routerLink]="['/office', exchange()!.office?.id, 'view']">{{ exchange()!.office?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.exchange.document">Document</span></dt>
          <dd>
            @if (exchange()!.document) {
              <div>
                <a [routerLink]="['/document', exchange()!.document?.id, 'view']">{{ exchange()!.document?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/exchange', exchange()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
