<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-account-transaction-heading"
        data-cy="AccountTransactionCreateUpdateHeading"
        jhiTranslate="studentBankJhipsterApp.accountTransaction.home.createOrEditLabel"
      >
        Create or edit a Account Transaction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="studentBankJhipsterApp.accountTransaction.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_externalId" jhiTranslate="studentBankJhipsterApp.accountTransaction.externalId"
            >External Id</label
          >
          <input
            type="text"
            class="form-control"
            name="externalId"
            id="field_externalId"
            data-cy="externalId"
            formControlName="externalId"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_transactionOperationType"
            jhiTranslate="studentBankJhipsterApp.accountTransaction.transactionOperationType"
            >Transaction Operation Type</label
          >
          <select
            class="form-control"
            name="transactionOperationType"
            formControlName="transactionOperationType"
            id="field_transactionOperationType"
            data-cy="transactionOperationType"
          >
            <option [ngValue]="null">{{ 'studentBankJhipsterApp.TransactionOperationType.null' | translate }}</option>
            @for (transactionOperationType of transactionOperationTypeValues; track $index) {
              <option [value]="transactionOperationType">
                {{ 'studentBankJhipsterApp.TransactionOperationType.' + transactionOperationType | translate }}
              </option>
            }
          </select>
          @if (
            editForm.get('transactionOperationType')!.invalid &&
            (editForm.get('transactionOperationType')!.dirty || editForm.get('transactionOperationType')!.touched)
          ) {
            <div>
              @if (editForm.get('transactionOperationType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_amount" jhiTranslate="studentBankJhipsterApp.accountTransaction.amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          @if (editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)) {
            <div>
              @if (editForm.get('amount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('amount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_currency" jhiTranslate="studentBankJhipsterApp.accountTransaction.currency">Currency</label>
          <select class="form-control" name="currency" formControlName="currency" id="field_currency" data-cy="currency">
            <option [ngValue]="null">{{ 'studentBankJhipsterApp.Currency.null' | translate }}</option>
            @for (currency of currencyValues; track $index) {
              <option [value]="currency">{{ 'studentBankJhipsterApp.Currency.' + currency | translate }}</option>
            }
          </select>
          @if (editForm.get('currency')!.invalid && (editForm.get('currency')!.dirty || editForm.get('currency')!.touched)) {
            <div>
              @if (editForm.get('currency')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_location" jhiTranslate="studentBankJhipsterApp.accountTransaction.location">Location</label>
          <select class="form-control" name="location" formControlName="location" id="field_location" data-cy="location">
            <option [ngValue]="null">{{ 'studentBankJhipsterApp.TransactionLocation.null' | translate }}</option>
            @for (transactionLocation of transactionLocationValues; track $index) {
              <option [value]="transactionLocation">
                {{ 'studentBankJhipsterApp.TransactionLocation.' + transactionLocation | translate }}
              </option>
            }
          </select>
          @if (editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)) {
            <div>
              @if (editForm.get('location')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sendTime" jhiTranslate="studentBankJhipsterApp.accountTransaction.sendTime">Send Time</label>
          <div class="d-flex">
            <input
              id="field_sendTime"
              data-cy="sendTime"
              type="datetime-local"
              class="form-control"
              name="sendTime"
              formControlName="sendTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_receiveTime" jhiTranslate="studentBankJhipsterApp.accountTransaction.receiveTime"
            >Receive Time</label
          >
          <div class="d-flex">
            <input
              id="field_receiveTime"
              data-cy="receiveTime"
              type="datetime-local"
              class="form-control"
              name="receiveTime"
              formControlName="receiveTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sender" jhiTranslate="studentBankJhipsterApp.accountTransaction.sender">Sender</label>
          <select
            class="form-control"
            id="field_sender"
            data-cy="sender"
            name="sender"
            formControlName="sender"
            [compareWith]="comparePaymentAccount"
          >
            <option [ngValue]="null"></option>
            @for (paymentAccountOption of paymentAccountsSharedCollection; track $index) {
              <option [ngValue]="paymentAccountOption">{{ paymentAccountOption.customer?.contactDetails?.id}}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_receiver" jhiTranslate="studentBankJhipsterApp.accountTransaction.receiver">Receiver</label>
          <select
            class="form-control"
            id="field_receiver"
            data-cy="receiver"
            name="receiver"
            formControlName="receiver"
            [compareWith]="comparePaymentAccount"
          >
            <option [ngValue]="null"></option>
            @for (paymentAccountOption of paymentAccountsSharedCollection; track $index) {
              <option [ngValue]="paymentAccountOption">{{ paymentAccountOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
