@if (accountTransaction) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(accountTransaction.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="accountTransactionDeleteDialogHeading" jhiTranslate="entity.delete.title">
        Confirm delete operation
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-accountTransaction-heading"
        jhiTranslate="studentBankJhipsterApp.accountTransaction.delete.question"
        [translateValues]="{ id: accountTransaction.id }"
      >
        Are you sure you want to delete Account Transaction {{ accountTransaction.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-accountTransaction" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
