<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (paymentAccount()) {
      <div>
        <h2 data-cy="paymentAccountDetailsHeading">
          <span jhiTranslate="studentBankJhipsterApp.paymentAccount.detail.title">Payment Account</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ paymentAccount()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.paymentAccount.paymentAccountType">Payment Account Type</span></dt>
          <dd>
            <span [jhiTranslate]="'studentBankJhipsterApp.PaymentAccountType.' + (paymentAccount()!.paymentAccountType ?? 'null')">{{
              { null: '', SAVING_ACCOUNT: 'SAVING_ACCOUNT', CREDIT_ACCOUNT: 'CREDIT_ACCOUNT', OVERDRAFT: 'OVERDRAFT', DEPOSIT: 'DEPOSIT' }[
                paymentAccount()!.paymentAccountType ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.paymentAccount.iban">Iban</span></dt>
          <dd>
            <span>{{ paymentAccount()!.iban }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.paymentAccount.amount">Amount</span></dt>
          <dd>
            <span>{{ paymentAccount()!.amount }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.paymentAccount.currency">Currency</span></dt>
          <dd>
            <span [jhiTranslate]="'studentBankJhipsterApp.Currency.' + (paymentAccount()!.currency ?? 'null')">{{
              { null: '', BGN: 'BGN', EUR: 'EUR', USD: 'USD' }[paymentAccount()!.currency ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.paymentAccount.active">Active</span></dt>
          <dd>
            <span>{{ paymentAccount()!.active }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.paymentAccount.deleted">Deleted</span></dt>
          <dd>
            <span>{{ paymentAccount()!.deleted }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.paymentAccount.contract">Contract</span></dt>
          <dd>
            @if (paymentAccount()!.contract) {
              <div>
                <a [routerLink]="['/document', paymentAccount()!.contract?.id, 'view']">{{ paymentAccount()!.contract?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.paymentAccount.customer">Customer</span></dt>
          <dd>
            @if (paymentAccount()!.customer) {
              <div>
                <a [routerLink]="['/customer', paymentAccount()!.customer?.id, 'view']">{{ paymentAccount()!.customer?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/payment-account', paymentAccount()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
