<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (application()) {
      <div>
        <h2 data-cy="applicationDetailsHeading"><span jhiTranslate="studentBankJhipsterApp.application.detail.title">Application</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ application()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.application.customer">Customer</span></dt>
          <dd>
            @if (application()!.customer) {
              <div>
                <a [routerLink]="['/customer', application()!.customer?.id, 'view']">{{ application()!.customer?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/application', application()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
