<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-card-details-heading"
        data-cy="CardDetailsCreateUpdateHeading"
        jhiTranslate="studentBankJhipsterApp.cardDetails.home.createOrEditLabel"
      >
        Create or edit a Card Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="studentBankJhipsterApp.cardDetails.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_cardNumber" jhiTranslate="studentBankJhipsterApp.cardDetails.cardNumber">Card Number</label>
          <input
            type="number"
            class="form-control"
            name="cardNumber"
            id="field_cardNumber"
            data-cy="cardNumber"
            formControlName="cardNumber"
          />
          @if (editForm.get('cardNumber')!.invalid && (editForm.get('cardNumber')!.dirty || editForm.get('cardNumber')!.touched)) {
            <div>
              @if (editForm.get('cardNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('cardNumber')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cardType" jhiTranslate="studentBankJhipsterApp.cardDetails.cardType">Card Type</label>
          <select class="form-control" name="cardType" formControlName="cardType" id="field_cardType" data-cy="cardType">
            <option [ngValue]="null">{{ 'studentBankJhipsterApp.CardType.null' | translate }}</option>
            @for (cardType of cardTypeValues; track $index) {
              <option [value]="cardType">{{ 'studentBankJhipsterApp.CardType.' + cardType | translate }}</option>
            }
          </select>
          @if (editForm.get('cardType')!.invalid && (editForm.get('cardType')!.dirty || editForm.get('cardType')!.touched)) {
            <div>
              @if (editForm.get('cardType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cardProvider" jhiTranslate="studentBankJhipsterApp.cardDetails.cardProvider"
            >Card Provider</label
          >
          <select class="form-control" name="cardProvider" formControlName="cardProvider" id="field_cardProvider" data-cy="cardProvider">
            <option [ngValue]="null">{{ 'studentBankJhipsterApp.CardProvider.null' | translate }}</option>
            @for (cardProvider of cardProviderValues; track $index) {
              <option [value]="cardProvider">{{ 'studentBankJhipsterApp.CardProvider.' + cardProvider | translate }}</option>
            }
          </select>
          @if (editForm.get('cardProvider')!.invalid && (editForm.get('cardProvider')!.dirty || editForm.get('cardProvider')!.touched)) {
            <div>
              @if (editForm.get('cardProvider')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_issueDate" jhiTranslate="studentBankJhipsterApp.cardDetails.issueDate">Issue Date</label>
          <div class="d-flex">
            <input
              id="field_issueDate"
              data-cy="issueDate"
              type="datetime-local"
              class="form-control"
              name="issueDate"
              formControlName="issueDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('issueDate')!.invalid && (editForm.get('issueDate')!.dirty || editForm.get('issueDate')!.touched)) {
            <div>
              @if (editForm.get('issueDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('issueDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_expiryDate" jhiTranslate="studentBankJhipsterApp.cardDetails.expiryDate">Expiry Date</label>
          <div class="d-flex">
            <input
              id="field_expiryDate"
              data-cy="expiryDate"
              type="datetime-local"
              class="form-control"
              name="expiryDate"
              formControlName="expiryDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('expiryDate')!.invalid && (editForm.get('expiryDate')!.dirty || editForm.get('expiryDate')!.touched)) {
            <div>
              @if (editForm.get('expiryDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('expiryDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cvv" jhiTranslate="studentBankJhipsterApp.cardDetails.cvv">Cvv</label>
          <input type="number" class="form-control" name="cvv" id="field_cvv" data-cy="cvv" formControlName="cvv" />
          @if (editForm.get('cvv')!.invalid && (editForm.get('cvv')!.dirty || editForm.get('cvv')!.touched)) {
            <div>
              @if (editForm.get('cvv')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('cvv')?.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isActive" jhiTranslate="studentBankJhipsterApp.cardDetails.isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isBlocked" jhiTranslate="studentBankJhipsterApp.cardDetails.isBlocked">Is Blocked</label>
          <input type="checkbox" class="form-check" name="isBlocked" id="field_isBlocked" data-cy="isBlocked" formControlName="isBlocked" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pin" jhiTranslate="studentBankJhipsterApp.cardDetails.pin">Pin</label>
          <input type="number" class="form-control" name="pin" id="field_pin" data-cy="pin" formControlName="pin" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customer" jhiTranslate="studentBankJhipsterApp.cardDetails.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            @for (customerOption of customersSharedCollection; track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_paymentAccount" jhiTranslate="studentBankJhipsterApp.cardDetails.paymentAccount"
            >Payment Account</label
          >
          <select
            class="form-control"
            id="field_paymentAccount"
            data-cy="paymentAccount"
            name="paymentAccount"
            formControlName="paymentAccount"
            [compareWith]="comparePaymentAccount"
          >
            <option [ngValue]="null"></option>
            @for (paymentAccountOption of paymentAccountsSharedCollection; track $index) {
              <option [ngValue]="paymentAccountOption">{{ paymentAccountOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
