<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-exchange-heading"
        data-cy="ExchangeCreateUpdateHeading"
        jhiTranslate="studentBankJhipsterApp.exchange.home.createOrEditLabel"
      >
        Create or edit a Exchange
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="studentBankJhipsterApp.exchange.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_amount" jhiTranslate="studentBankJhipsterApp.exchange.amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          @if (editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)) {
            <div>
              @if (editForm.get('amount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('amount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_currencyIn" jhiTranslate="studentBankJhipsterApp.exchange.currencyIn">Currency In</label>
          <select class="form-control" name="currencyIn" formControlName="currencyIn" id="field_currencyIn" data-cy="currencyIn">
            <option [ngValue]="null">{{ 'studentBankJhipsterApp.Currency.null' | translate }}</option>
            @for (currency of currencyValues; track $index) {
              <option [value]="currency">{{ 'studentBankJhipsterApp.Currency.' + currency | translate }}</option>
            }
          </select>
          @if (editForm.get('currencyIn')!.invalid && (editForm.get('currencyIn')!.dirty || editForm.get('currencyIn')!.touched)) {
            <div>
              @if (editForm.get('currencyIn')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_currencyOut" jhiTranslate="studentBankJhipsterApp.exchange.currencyOut">Currency Out</label>
          <select class="form-control" name="currencyOut" formControlName="currencyOut" id="field_currencyOut" data-cy="currencyOut">
            <option [ngValue]="null">{{ 'studentBankJhipsterApp.Currency.null' | translate }}</option>
            @for (currency of currencyValues; track $index) {
              <option [value]="currency">{{ 'studentBankJhipsterApp.Currency.' + currency | translate }}</option>
            }
          </select>
          @if (editForm.get('currencyOut')!.invalid && (editForm.get('currencyOut')!.dirty || editForm.get('currencyOut')!.touched)) {
            <div>
              @if (editForm.get('currencyOut')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_exchangeRate" jhiTranslate="studentBankJhipsterApp.exchange.exchangeRate"
            >Exchange Rate</label
          >
          <input
            type="number"
            class="form-control"
            name="exchangeRate"
            id="field_exchangeRate"
            data-cy="exchangeRate"
            formControlName="exchangeRate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_employee" jhiTranslate="studentBankJhipsterApp.exchange.employee">Employee</label>
          <select
            class="form-control"
            id="field_employee"
            data-cy="employee"
            name="employee"
            formControlName="employee"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            @for (employeeOption of employeesSharedCollection; track $index) {
              <option [ngValue]="employeeOption">{{ employeeOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_office" jhiTranslate="studentBankJhipsterApp.exchange.office">Office</label>
          <select
            class="form-control"
            id="field_office"
            data-cy="office"
            name="office"
            formControlName="office"
            [compareWith]="compareOffice"
          >
            <option [ngValue]="null"></option>
            @for (officeOption of officesSharedCollection; track $index) {
              <option [ngValue]="officeOption">{{ officeOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_document" jhiTranslate="studentBankJhipsterApp.exchange.document">Document</label>
          <select
            class="form-control"
            id="field_document"
            data-cy="document"
            name="document"
            formControlName="document"
            [compareWith]="compareDocument"
          >
            <option [ngValue]="null"></option>
            @for (documentOption of documentsSharedCollection; track $index) {
              <option [ngValue]="documentOption">{{ documentOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
