<div>
  <h2 id="page-heading" data-cy="AccountTransactionHeading">
    <span jhiTranslate="studentBankJhipsterApp.accountTransaction.home.title">Account Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.accountTransaction.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-account-transaction"
        [routerLink]="['/account-transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.accountTransaction.home.createLabel">Create a new Account Transaction</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (accountTransactions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="studentBankJhipsterApp.accountTransaction.home.notFound">No Account Transactions found</span>
    </div>
  }

  @if (accountTransactions && accountTransactions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="externalId">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.accountTransaction.externalId">External Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="transactionOperationType">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.accountTransaction.transactionOperationType">Transaction Operation Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.accountTransaction.amount">Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currency">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.accountTransaction.currency">Currency</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.accountTransaction.location">Location</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sendTime">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.accountTransaction.sendTime">Send Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="receiveTime">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.accountTransaction.receiveTime">Receive Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sender.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.accountTransaction.sender">Sender</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="receiver.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.accountTransaction.receiver">Receiver</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (accountTransaction of accountTransactions; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/account-transaction', accountTransaction.id, 'view']">{{ accountTransaction.id }}</a>
              </td>
              <td>{{ accountTransaction.externalId }}</td>
              <td
                [jhiTranslate]="
                  'studentBankJhipsterApp.TransactionOperationType.' + (accountTransaction.transactionOperationType ?? 'null')
                "
              >
                {{
                  { null: '', TRANSFER: 'TRANSFER', CREDIT: 'CREDIT', DEPOSIT: 'DEPOSIT' }[
                    accountTransaction.transactionOperationType ?? 'null'
                  ]
                }}
              </td>
              <td>{{ accountTransaction.amount }}</td>
              <td [jhiTranslate]="'studentBankJhipsterApp.Currency.' + (accountTransaction.currency ?? 'null')">
                {{ { null: '', BGN: 'BGN', EUR: 'EUR', USD: 'USD' }[accountTransaction.currency ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'studentBankJhipsterApp.TransactionLocation.' + (accountTransaction.location ?? 'null')">
                {{ { null: '', ATM: 'ATM', OFFICE: 'OFFICE', ONLINE: 'ONLINE' }[accountTransaction.location ?? 'null'] }}
              </td>
              <td>{{ accountTransaction.sendTime | formatMediumDatetime }}</td>
              <td>{{ accountTransaction.receiveTime | formatMediumDatetime }}</td>
              <td>
                @if (accountTransaction.sender) {
                  <div>
                    <a [routerLink]="['/payment-account', accountTransaction.sender.id, 'view']">{{ accountTransaction.sender.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (accountTransaction.receiver) {
                  <div>
                    <a [routerLink]="['/payment-account', accountTransaction.receiver.id, 'view']">{{ accountTransaction.receiver.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/account-transaction', accountTransaction.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/account-transaction', accountTransaction.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(accountTransaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (accountTransactions && accountTransactions.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
