<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-employee-heading"
        data-cy="EmployeeCreateUpdateHeading"
        jhiTranslate="studentBankJhipsterApp.employee.home.createOrEditLabel"
      >
        Create or edit a Employee
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="studentBankJhipsterApp.employee.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_isOnHoliday" jhiTranslate="studentBankJhipsterApp.employee.isOnHoliday">Is On Holiday</label>
          <input
            type="checkbox"
            class="form-check"
            name="isOnHoliday"
            id="field_isOnHoliday"
            data-cy="isOnHoliday"
            formControlName="isOnHoliday"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contactDetails" jhiTranslate="studentBankJhipsterApp.employee.contactDetails"
            >Contact Details</label
          >
          <select
            class="form-control"
            id="field_contactDetails"
            data-cy="contactDetails"
            name="contactDetails"
            formControlName="contactDetails"
            [compareWith]="compareContactDetails"
          >
            <option [ngValue]="null"></option>
            @for (contactDetailsOption of contactDetailsSharedCollection; track $index) {
              <option [ngValue]="contactDetailsOption">{{ contactDetailsOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_jobPosition" jhiTranslate="studentBankJhipsterApp.employee.jobPosition">Job Position</label>
          <select
            class="form-control"
            id="field_jobPosition"
            data-cy="jobPosition"
            name="jobPosition"
            formControlName="jobPosition"
            [compareWith]="compareJobPosition"
          >
            <option [ngValue]="null"></option>
            @for (jobPositionOption of jobPositionsSharedCollection; track $index) {
              <option [ngValue]="jobPositionOption">{{ jobPositionOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_employeeContract" jhiTranslate="studentBankJhipsterApp.employee.employeeContract"
            >Employee Contract</label
          >
          <select
            class="form-control"
            id="field_employeeContract"
            data-cy="employeeContract"
            name="employeeContract"
            formControlName="employeeContract"
            [compareWith]="compareDocument"
          >
            <option [ngValue]="null"></option>
            @for (documentOption of documentsSharedCollection; track $index) {
              <option [ngValue]="documentOption">{{ documentOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_manager" jhiTranslate="studentBankJhipsterApp.employee.manager">Manager</label>
          <select
            class="form-control"
            id="field_manager"
            data-cy="manager"
            name="manager"
            formControlName="manager"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            @for (employeeOption of employeesSharedCollection; track $index) {
              <option [ngValue]="employeeOption">{{ employeeOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_atm" jhiTranslate="studentBankJhipsterApp.employee.atm">Atm</label>
          <select class="form-control" id="field_atm" data-cy="atm" name="atm" formControlName="atm" [compareWith]="compareAtm">
            <option [ngValue]="null"></option>
            @for (atmOption of atmsSharedCollection; track $index) {
              <option [ngValue]="atmOption">{{ atmOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_office" jhiTranslate="studentBankJhipsterApp.employee.office">Office</label>
          <select
            class="form-control"
            id="field_office"
            data-cy="office"
            name="office"
            formControlName="office"
            [compareWith]="compareOffice"
          >
            <option [ngValue]="null"></option>
            @for (officeOption of officesSharedCollection; track $index) {
              <option [ngValue]="officeOption">{{ officeOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
