<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (atm()) {
      <div>
        <h2 data-cy="atmDetailsHeading"><span jhiTranslate="studentBankJhipsterApp.atm.detail.title">Atm</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ atm()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.atm.name">Name</span></dt>
          <dd>
            <span>{{ atm()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.atm.documentType">Document Type</span></dt>
          <dd>
            <span [jhiTranslate]="'studentBankJhipsterApp.DocumentType.' + (atm()!.documentType ?? 'null')">{{
              { null: '', PDF: 'PDF', DOCX: 'DOCX' }[atm()!.documentType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.atm.address">Address</span></dt>
          <dd>
            @if (atm()!.address) {
              <div>
                <a [routerLink]="['/address', atm()!.address?.id, 'view']">{{ atm()!.address?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/atm', atm()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
