<div>
  <h2 id="page-heading" data-cy="EmployeeHeading">
    <span jhiTranslate="studentBankJhipsterApp.employee.home.title">Employees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.employee.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employee"
        [routerLink]="['/employee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.employee.home.createLabel">Create a new Employee</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (employees?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="studentBankJhipsterApp.employee.home.notFound">No Employees found</span>
    </div>
  }

  @if (employees && employees.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isOnHoliday">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.employee.isOnHoliday">Is On Holiday</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contactDetails.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.employee.contactDetails">Contact Details</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="jobPosition.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.employee.jobPosition">Job Position</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employeeContract.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.employee.employeeContract">Employee Contract</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="manager.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.employee.manager">Manager</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="atm.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.employee.atm">Atm</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="office.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.employee.office">Office</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (employee of employees; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/employee', employee.id, 'view']">{{ employee.id }}</a>
              </td>
              <td>{{ employee.isOnHoliday }}</td>
              <td>
                @if (employee.contactDetails) {
                  <div>
                    <a [routerLink]="['/contact-details', employee.contactDetails.id, 'view']">{{ employee.contactDetails.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (employee.jobPosition) {
                  <div>
                    <a [routerLink]="['/job-position', employee.jobPosition.id, 'view']">{{ employee.jobPosition.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (employee.employeeContract) {
                  <div>
                    <a [routerLink]="['/document', employee.employeeContract.id, 'view']">{{ employee.employeeContract.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (employee.manager) {
                  <div>
                    <a [routerLink]="['/employee', employee.manager.id, 'view']">{{ employee.manager.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (employee.atm) {
                  <div>
                    <a [routerLink]="['/atm', employee.atm.id, 'view']">{{ employee.atm.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (employee.office) {
                  <div>
                    <a [routerLink]="['/office', employee.office.id, 'view']">{{ employee.office.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/employee', employee.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(employee)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (employees && employees.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
