<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-customer-heading"
        data-cy="CustomerCreateUpdateHeading"
        jhiTranslate="studentBankJhipsterApp.customer.home.createOrEditLabel"
      >
        Create or edit a Customer
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="studentBankJhipsterApp.customer.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_customerType" jhiTranslate="studentBankJhipsterApp.customer.customerType"
            >Customer Type</label
          >
          <select class="form-control" name="customerType" formControlName="customerType" id="field_customerType" data-cy="customerType">
            <option [ngValue]="null">{{ 'studentBankJhipsterApp.CustomerType.null' | translate }}</option>
            @for (customerType of customerTypeValues; track $index) {
              <option [value]="customerType">{{ 'studentBankJhipsterApp.CustomerType.' + customerType | translate }}</option>
            }
          </select>
          @if (editForm.get('customerType')!.invalid && (editForm.get('customerType')!.dirty || editForm.get('customerType')!.touched)) {
            <div>
              @if (editForm.get('customerType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_creditScore" jhiTranslate="studentBankJhipsterApp.customer.creditScore">Credit Score</label>
          <input
            type="number"
            class="form-control"
            name="creditScore"
            id="field_creditScore"
            data-cy="creditScore"
            formControlName="creditScore"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contactDetails" jhiTranslate="studentBankJhipsterApp.customer.contactDetails"
            >Contact Details</label
          >
          <select
            class="form-control"
            id="field_contactDetails"
            data-cy="contactDetails"
            name="contactDetails"
            formControlName="contactDetails"
            [compareWith]="compareContactDetails"
          >
            <option [ngValue]="null"></option>
            @for (contactDetailsOption of contactDetailsSharedCollection; track $index) {
              <option [ngValue]="contactDetailsOption">{{ contactDetailsOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
