<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (documentCategory()) {
      <div>
        <h2 data-cy="documentCategoryDetailsHeading">
          <span jhiTranslate="studentBankJhipsterApp.documentCategory.detail.title">Document Category</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ documentCategory()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.documentCategory.name">Name</span></dt>
          <dd>
            <span>{{ documentCategory()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.documentCategory.documentCategory">Document Category</span></dt>
          <dd>
            @if (documentCategory()!.documentCategory) {
              <div>
                <a [routerLink]="['/document-category', documentCategory()!.documentCategory?.id, 'view']">{{
                  documentCategory()!.documentCategory?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/document-category', documentCategory()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
