<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-bank-details-heading"
        data-cy="BankDetailsCreateUpdateHeading"
        jhiTranslate="studentBankJhipsterApp.bankDetails.home.createOrEditLabel"
      >
        Create or edit a Bank Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="studentBankJhipsterApp.bankDetails.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="studentBankJhipsterApp.bankDetails.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_foundationYear" jhiTranslate="studentBankJhipsterApp.bankDetails.foundationYear"
            >Foundation Year</label
          >
          <div class="d-flex">
            <input
              id="field_foundationYear"
              data-cy="foundationYear"
              type="datetime-local"
              class="form-control"
              name="foundationYear"
              formControlName="foundationYear"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ceo" jhiTranslate="studentBankJhipsterApp.bankDetails.ceo">Ceo</label>
          <input type="text" class="form-control" name="ceo" id="field_ceo" data-cy="ceo" formControlName="ceo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mainWebsite" jhiTranslate="studentBankJhipsterApp.bankDetails.mainWebsite"
            >Main Website</label
          >
          <input
            type="text"
            class="form-control"
            name="mainWebsite"
            id="field_mainWebsite"
            data-cy="mainWebsite"
            formControlName="mainWebsite"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
