<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (accountTransaction()) {
      <div>
        <h2 data-cy="accountTransactionDetailsHeading">
          <span jhiTranslate="studentBankJhipsterApp.accountTransaction.detail.title">Account Transaction</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ accountTransaction()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.accountTransaction.externalId">External Id</span></dt>
          <dd>
            <span>{{ accountTransaction()!.externalId }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.accountTransaction.transactionOperationType">Transaction Operation Type</span></dt>
          <dd>
            <span
              [jhiTranslate]="
                'studentBankJhipsterApp.TransactionOperationType.' + (accountTransaction()!.transactionOperationType ?? 'null')
              "
              >{{
                { null: '', TRANSFER: 'TRANSFER', CREDIT: 'CREDIT', DEPOSIT: 'DEPOSIT' }[
                  accountTransaction()!.transactionOperationType ?? 'null'
                ]
              }}</span
            >
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.accountTransaction.amount">Amount</span></dt>
          <dd>
            <span>{{ accountTransaction()!.amount }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.accountTransaction.currency">Currency</span></dt>
          <dd>
            <span [jhiTranslate]="'studentBankJhipsterApp.Currency.' + (accountTransaction()!.currency ?? 'null')">{{
              { null: '', BGN: 'BGN', EUR: 'EUR', USD: 'USD' }[accountTransaction()!.currency ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.accountTransaction.location">Location</span></dt>
          <dd>
            <span [jhiTranslate]="'studentBankJhipsterApp.TransactionLocation.' + (accountTransaction()!.location ?? 'null')">{{
              { null: '', ATM: 'ATM', OFFICE: 'OFFICE', ONLINE: 'ONLINE' }[accountTransaction()!.location ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.accountTransaction.sendTime">Send Time</span></dt>
          <dd>
            <span>{{ accountTransaction()!.sendTime | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.accountTransaction.receiveTime">Receive Time</span></dt>
          <dd>
            <span>{{ accountTransaction()!.receiveTime | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.accountTransaction.sender">Sender</span></dt>
          <dd>
            @if (accountTransaction()!.sender) {
              <div>
                <a [routerLink]="['/payment-account', accountTransaction()!.sender?.id, 'view']">{{ accountTransaction()!.sender?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.accountTransaction.receiver">Receiver</span></dt>
          <dd>
            @if (accountTransaction()!.receiver) {
              <div>
                <a [routerLink]="['/payment-account', accountTransaction()!.receiver?.id, 'view']">{{
                  accountTransaction()!.receiver?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/account-transaction', accountTransaction()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
