<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (employeesAssets()) {
      <div>
        <h2 data-cy="employeesAssetsDetailsHeading">
          <span jhiTranslate="studentBankJhipsterApp.employeesAssets.detail.title">Employees Assets</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ employeesAssets()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.employeesAssets.name">Name</span></dt>
          <dd>
            <span>{{ employeesAssets()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.employeesAssets.assignedBy">Assigned By</span></dt>
          <dd>
            @if (employeesAssets()!.assignedBy) {
              <div>
                <a [routerLink]="['/employee', employeesAssets()!.assignedBy?.id, 'view']">{{ employeesAssets()!.assignedBy?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.employeesAssets.recieversProtocol">Recievers Protocol</span></dt>
          <dd>
            @if (employeesAssets()!.recieversProtocol) {
              <div>
                <a [routerLink]="['/document', employeesAssets()!.recieversProtocol?.id, 'view']">{{
                  employeesAssets()!.recieversProtocol?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.employeesAssets.employee">Employee</span></dt>
          <dd>
            @if (employeesAssets()!.employee) {
              <div>
                <a [routerLink]="['/employee', employeesAssets()!.employee?.id, 'view']">{{ employeesAssets()!.employee?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/employees-assets', employeesAssets()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
