<div>
  <h2 id="page-heading" data-cy="DocumentHeading">
    <span jhiTranslate="studentBankJhipsterApp.document.home.title">Documents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.document.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-document"
        [routerLink]="['/document/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.document.home.createLabel">Create a new Document</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (documents?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="studentBankJhipsterApp.document.home.notFound">No Documents found</span>
    </div>
  }

  @if (documents && documents.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.document.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentExtension">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.document.documentExtension">Document Extension</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentData">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.document.documentData">Document Data</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentType">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.document.documentType">Document Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isOrinalDocument">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.document.isOrinalDocument">Is Orinal Document</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentCompression">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.document.documentCompression">Document Compression</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentCategory.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.document.documentCategory">Document Category</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="application.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.document.application">Application</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customer.id">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.document.customer">Customer</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (document of documents; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/document', document.id, 'view']">{{ document.id }}</a>
              </td>
              <td>{{ document.name }}</td>
              <td>{{ document.documentExtension }}</td>
              <td>
                @if (document.documentData) {
                  <a (click)="openFile(document.documentData, document.documentDataContentType)" jhiTranslate="entity.action.open">Open</a>
                  <span>{{ document.documentDataContentType }}, {{ byteSize(document.documentData) }}</span>
                }
              </td>
              <td [jhiTranslate]="'studentBankJhipsterApp.DocumentType.' + (document.documentType ?? 'null')">
                {{ { null: '', PDF: 'PDF', DOCX: 'DOCX' }[document.documentType ?? 'null'] }}
              </td>
              <td>{{ document.isOrinalDocument }}</td>
              <td>{{ document.documentCompression }}</td>
              <td>
                @if (document.documentCategory) {
                  <div>
                    <a [routerLink]="['/document-category', document.documentCategory.id, 'view']">{{ document.documentCategory.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (document.application) {
                  <div>
                    <a [routerLink]="['/application', document.application.id, 'view']">{{ document.application.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (document.customer) {
                  <div>
                    <a [routerLink]="['/customer', document.customer.id, 'view']">{{ document.customer.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/document', document.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/document', document.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(document)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (documents && documents.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
