<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (address()) {
      <div>
        <h2 data-cy="addressDetailsHeading"><span jhiTranslate="studentBankJhipsterApp.address.detail.title">Address</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ address()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.address.country">Country</span></dt>
          <dd>
            <span [jhiTranslate]="'studentBankJhipsterApp.Country.' + (address()!.country ?? 'null')">{{
              { null: '', Bulgaria: 'Bulgaria', Germany: 'Germany', UK: 'UK' }[address()!.country ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.address.region">Region</span></dt>
          <dd>
            <span>{{ address()!.region }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.address.city">City</span></dt>
          <dd>
            <span>{{ address()!.city }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.address.street">Street</span></dt>
          <dd>
            <span>{{ address()!.street }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.address.zipCode">Zip Code</span></dt>
          <dd>
            <span>{{ address()!.zipCode }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.address.customer">Customer</span></dt>
          <dd>
            @if (address()!.customer) {
              <div>
                <a [routerLink]="['/customer', address()!.customer?.id, 'view']">{{ address()!.customer?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/address', address()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
