<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (document()) {
      <div>
        <h2 data-cy="documentDetailsHeading"><span jhiTranslate="studentBankJhipsterApp.document.detail.title">Document</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ document()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.document.name">Name</span></dt>
          <dd>
            <span>{{ document()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.document.documentExtension">Document Extension</span></dt>
          <dd>
            <span>{{ document()!.documentExtension }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.document.documentData">Document Data</span></dt>
          <dd>
            @if (document()!.documentData) {
              <div>
                <a (click)="openFile(document()!.documentData ?? '', document()!.documentDataContentType)" jhiTranslate="entity.action.open"
                  >Open</a
                >
                {{ document()!.documentDataContentType }}, {{ byteSize(document()!.documentData ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.document.documentType">Document Type</span></dt>
          <dd>
            <span [jhiTranslate]="'studentBankJhipsterApp.DocumentType.' + (document()!.documentType ?? 'null')">{{
              { null: '', PDF: 'PDF', DOCX: 'DOCX' }[document()!.documentType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.document.isOrinalDocument">Is Orinal Document</span></dt>
          <dd>
            <span>{{ document()!.isOrinalDocument }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.document.documentCompression">Document Compression</span></dt>
          <dd>
            <span>{{ document()!.documentCompression }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.document.documentCategory">Document Category</span></dt>
          <dd>
            @if (document()!.documentCategory) {
              <div>
                <a [routerLink]="['/document-category', document()!.documentCategory?.id, 'view']">{{
                  document()!.documentCategory?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.document.application">Application</span></dt>
          <dd>
            @if (document()!.application) {
              <div>
                <a [routerLink]="['/application', document()!.application?.id, 'view']">{{ document()!.application?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.document.customer">Customer</span></dt>
          <dd>
            @if (document()!.customer) {
              <div>
                <a [routerLink]="['/customer', document()!.customer?.id, 'view']">{{ document()!.customer?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/document', document()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
