<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (office()) {
      <div>
        <h2 data-cy="officeDetailsHeading"><span jhiTranslate="studentBankJhipsterApp.office.detail.title">Office</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ office()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.office.name">Name</span></dt>
          <dd>
            <span>{{ office()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.office.isMain">Is Main</span></dt>
          <dd>
            <span>{{ office()!.isMain }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.office.openningTime">Openning Time</span></dt>
          <dd>
            <span>{{ office()!.openningTime }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.office.closingTime">Closing Time</span></dt>
          <dd>
            <span>{{ office()!.closingTime }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.office.address">Address</span></dt>
          <dd>
            @if (office()!.address) {
              <div>
                <a [routerLink]="['/address', office()!.address?.id, 'view']">{{ office()!.address?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.office.bankDetails">Bank Details</span></dt>
          <dd>
            @if (office()!.bankDetails) {
              <div>
                <a [routerLink]="['/bank-details', office()!.bankDetails?.id, 'view']">{{ office()!.bankDetails?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/office', office()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
