<div>
  <h2 id="page-heading" data-cy="BankDetailsHeading">
    <span jhiTranslate="studentBankJhipsterApp.bankDetails.home.title">Bank Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.bankDetails.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bank-details"
        [routerLink]="['/bank-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="studentBankJhipsterApp.bankDetails.home.createLabel">Create a new Bank Details</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (bankDetails?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="studentBankJhipsterApp.bankDetails.home.notFound">No Bank Details found</span>
    </div>
  }

  @if (bankDetails && bankDetails.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.bankDetails.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="foundationYear">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.bankDetails.foundationYear">Foundation Year</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ceo">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.bankDetails.ceo">Ceo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mainWebsite">
              <div class="d-flex">
                <span jhiTranslate="studentBankJhipsterApp.bankDetails.mainWebsite">Main Website</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (bankDetails of bankDetails; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/bank-details', bankDetails.id, 'view']">{{ bankDetails.id }}</a>
              </td>
              <td>{{ bankDetails.name }}</td>
              <td>{{ bankDetails.foundationYear | formatMediumDatetime }}</td>
              <td>{{ bankDetails.ceo }}</td>
              <td>{{ bankDetails.mainWebsite }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/bank-details', bankDetails.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/bank-details', bankDetails.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(bankDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (bankDetails && bankDetails.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
