<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (customer()) {
      <div>
        <h2 data-cy="customerDetailsHeading"><span jhiTranslate="studentBankJhipsterApp.customer.detail.title">Customer</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ customer()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.customer.customerType">Customer Type</span></dt>
          <dd>
            <span [jhiTranslate]="'studentBankJhipsterApp.CustomerType.' + (customer()!.customerType ?? 'null')">{{
              { null: '', LEGAL_PERSON: 'LEGAL_PERSON', NATURAL_PERSON: 'NATURAL_PERSON', NOT_SET: 'NOT_SET' }[
                customer()!.customerType ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.customer.creditScore">Credit Score</span></dt>
          <dd>
            <span>{{ customer()!.creditScore }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.customer.contactDetails">Contact Details</span></dt>
          <dd>
            @if (customer()!.contactDetails) {
              <div>
                <a [routerLink]="['/contact-details', customer()!.contactDetails?.id, 'view']">{{ customer()!.contactDetails?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/customer', customer()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
