<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cardDetails()) {
      <div>
        <h2 data-cy="cardDetailsDetailsHeading">
          <span jhiTranslate="studentBankJhipsterApp.cardDetails.detail.title">Card Details</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cardDetails()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.cardDetails.cardNumber">Card Number</span></dt>
          <dd>
            <span>{{ cardDetails()!.cardNumber }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.cardDetails.cardType">Card Type</span></dt>
          <dd>
            <span [jhiTranslate]="'studentBankJhipsterApp.CardType.' + (cardDetails()!.cardType ?? 'null')">{{
              { null: '', CREDIT: 'CREDIT', DEBIT: 'DEBIT' }[cardDetails()!.cardType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.cardDetails.cardProvider">Card Provider</span></dt>
          <dd>
            <span [jhiTranslate]="'studentBankJhipsterApp.CardProvider.' + (cardDetails()!.cardProvider ?? 'null')">{{
              { null: '', MASTERCARD: 'MASTERCARD', VISA: 'VISA', MAESTRO: 'MAESTRO', AMERICAN_EXPRESS: 'AMERICAN_EXPRESS' }[
                cardDetails()!.cardProvider ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.cardDetails.issueDate">Issue Date</span></dt>
          <dd>
            <span>{{ cardDetails()!.issueDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.cardDetails.expiryDate">Expiry Date</span></dt>
          <dd>
            <span>{{ cardDetails()!.expiryDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.cardDetails.cvv">Cvv</span></dt>
          <dd>
            <span>{{ cardDetails()!.cvv }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.cardDetails.isActive">Is Active</span></dt>
          <dd>
            <span>{{ cardDetails()!.isActive }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.cardDetails.isBlocked">Is Blocked</span></dt>
          <dd>
            <span>{{ cardDetails()!.isBlocked }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.cardDetails.pin">Pin</span></dt>
          <dd>
            <span>{{ cardDetails()!.pin }}</span>
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.cardDetails.customer">Customer</span></dt>
          <dd>
            @if (cardDetails()!.customer) {
              <div>
                <a [routerLink]="['/customer', cardDetails()!.customer?.id, 'view']">{{ cardDetails()!.customer?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="studentBankJhipsterApp.cardDetails.paymentAccount">Payment Account</span></dt>
          <dd>
            @if (cardDetails()!.paymentAccount) {
              <div>
                <a [routerLink]="['/payment-account', cardDetails()!.paymentAccount?.id, 'view']">{{
                  cardDetails()!.paymentAccount?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/card-details', cardDetails()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
